<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
     http://www.springframework.org/schema/context  
   http://www.springframework.org/schema/context/spring-context-3.0.xsd  
     http://www.springframework.org/schema/mvc  
     http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:property-placeholder location="classpath:db.properties" /><!-- 
		引入db.properties文件 -->
	<context:component-scan base-package="com.sunms" /><!-- 包扫描 这样就可以不用一个一个的注册springbean了 
		但是要用注解标示出spring bean -->
	<!-- 配置数据源 整合后有spring接管 最好配置线程池，例如阿里巴巴提供的druid连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${jdbc_url}" />
		<property name="username" value="${jdbc_username}" />
		<property name="password" value="${jdbc_password}" />
	</bean>

	<!-- sqlSessionFactory由mybatis-spring包提供 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" /><!-- 必须指定的属性 -->
		<property name="mapperLocations" value="classpath:/com/sunms/*/" /><!-- mapper文件存放的位置 这样就不用在mybatis配置文件中注册mapper文件了 -->
		<property name="typeAliasesPackage" value="com.sunms" /><!-- 给类取别名，默认为非限定类名，就是类名 -->
		<!-- <property name="configLocation" value="classpath:mybatis_old.xml"/>指定mybatis的配置文件 spring与mybatis整合后可以做到没有mybatis单独的配置文件 -->
	</bean>
	<!-- 配置好数据源之后 最重要的就是怎么获取sqlSesseion对象或者说获得mapper对象了(如果没有mybatis或相关持久层框架基础的话，请自行补习) -->
	<!-- mybatis-spring包提供了三种或者说两种方式供你选择 一种是MapperFactoryBean(有两种配置方式 这里只说明自动扫描的情况 因为在实际项目中那么多mapper文件一个一个的注册 
		真是没有什么意思 要把精力集中在核心业务上面 而不是这些杂七杂八的配置上面) 一种是SqlSessionTemplate -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="" />
	</bean>

</beans>